*{
    margin: 0;
    padding: 0;
    list-style: none;
}
#home_page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 694px;
    min-width: 80%;
}
#home_left{
    height: 100%;
    min-width: 40%;
    background: url("../img/bg_home_left.png")no-repeat;
    background-size: 100%;
}
#home_right{
    height: 100%;
    min-width: 60%;
}
.nav{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.nav input{
    width: 600px;
    height: 35px;
    border: 1px solid #D6D6D6;
    border-radius: 25px;
    color: #B1B1B1;
    padding-left: 25px;
    outline: none;
    font-size: 14px;
}
.button{
    cursor: pointer;
    height: 25px;
    width: 25px;
    position: relative;
    left: -40px;
    border: none;
    background-color: white;
    outline: none;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px 25px;
}
.title{
    font-size: 24px;
    font-weight: bold;
    padding-left: 40px;
    margin-top: 50px;
}
.discover{
    margin-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    height: 160px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.der{
    margin-top: 10px;
    height: 150px;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}
.der img{
    display: block;
}
.der span{
    margin-top: 5px;
}

.form_tltle{
    height: 35px;
    font-size: 24px;
    font-weight: bold;
    padding-left: 40px;
    margin-top: 60px;
}
.form_tltle ul li{
    float: left;
    padding-right: 40px;
    cursor: pointer;
}

.subject{
    padding-left: 40px;
    padding-right: 40px;
    height: 60px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.subject span{
    color: white;
    font-weight: bold;
    font-size: 17px;
}

#type_content{
    margin-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}


