html,body,div,p,a,span,li,ul{
    font-family: "微软雅黑";
    list-style: none;
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
}
.clearfix{
    zoom: 1;
}
/*清除浮动*/
.clearfix::after{
    content: '';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    overflow: hidden;
    clear: both;
}
.box{
    min-width: 80%;
    /*height: 825px;*/
}
.banner{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.serach_text{
    width:500px;
    height: 40px;
    outline: none;
    padding-left: 10px;
    border-radius: 25px;
}
.button{
    cursor: pointer;
    height: 25px;
    width: 25px;
    position: relative;
    left: -40px;
    border: none;
    background-color: white;
    outline: none;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px 25px;
}
.serach_img{
    width: 20px;
    height: 20px;
    position: relative;
    left: -40px;
    cursor: pointer;
}
.content{
    /*height: 1405px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content1{
     /*height: 725px;*/
    display: flex;
	flex-wrap: wrap;
    flex-direction: row;
}
.serach_book{
    margin-left: 40px;
    width: 200px;
    height: 250px;
    display: flex;
    /*border:1px solid black;*/
}
.book_img{
    width: 36%;
    margin: auto;
}
.book_info{
    height: 300px;
    width: 55%;
}
.book_authon{
    height: 25px;
}
.name{
    float: left;
    margin-left: 6px;
    color: #6F78A7;
}
.authon{
    margin-left: 200px;
    margin-top: 5px;
    color: #B3B3B3;

}

.book_intrduce{
    margin-top: 20px;
    text-indent:2em;
    line-height: 30px;
}

.bottom{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.bottom a{
    border-radius: 12px;
    padding: 5px 7px 5px 7px;
    border: black solid 1px;
    margin: 0px 10px 0px 10px;
}