<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/detail.css">
</head>
<body>
    <div class="wrap">
        <div class="head_top">
            <div class="imgbox">
                <img src="../static/img/logo.jpg">
            </div>
            <div class="search_box">
                <input class="search-text" name="keyword" type="text" placeholder="雪中悍刀行">
                <input type="submit" class="search-btn" value=&nbsp;>
            </div>
            <div class="user">
                <div class="user_login">
                    <a class="a_text">登录</a>
                </div>
                  <div class="user_register">
                    <a class="a_text">注册</a>
                </div>
            </div>
        </div>
        <div class="muen_top">
            <ul>
                <a href="../"><li>首页</li></a>
                <a href="#"><li>我的书架</li></a>
                <a href="#"><li>玄幻小说</li></a>
                <a href="#"><li>修真小说</li></a>
                <a href="#"><li>都市小说</li></a>
                <a href="#"><li>穿越小说</li></a>
                <a href="#"><li>网页小说</li></a>
                <a href="#"><li>科幻小说</li></a>
                <a href="#"><li>排行榜单</li></a>
                <a href="#"><li>全部小说</li></a>
            </ul>
        </div>
        <div class="content_body">
            <div class="img_head">
                <img src="{{novel.imgurl}}">
            </div>
            <div class="novel_content">
                <div class="novel_name">
                    <P>{{novel.name}}</P>
                </div>
                <div class="novel_author">
                    <p class="t1">作者:   {{novel.author}}</p>
                    <p class="t2">类别：  {{novel.type}}</p>
                </div>
                 <div class="novel_time">
                    <p class="t3">最后更新:   2020-10-09 19:50:00</p>
                    <p class="t4">最新:   第1138章 钓鱼！</p>
                </div>
                <div class="novel_introduce">
                    <p>{{ novel.intrduce }}</p>
                </div>
            </div>
        </div>
        <div class="novel_chapter">
            <table class="novel_table" cellpadding="0" cellspacing="0">
                {% for items in data%}
                    <tr class="tr_set">
                        {% for item in items %}
                            <td><a href="#">{{ item.chapterName }}</a></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>