<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<title>Caption Hover Effects - Demo 6</title>
		<link rel="stylesheet" type="text/css" href="../static/css/default.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/component.css" />
		<script src="../static/js/modernizr.custom.js"></script>
		<script src="../static/js/search.js"></script>
	</head>
	<body>
		<div class="container demo-3" >
			<ul id="show" class="grid cs-style-6" >
				<li>
					<figure>
						<img src="../static/img/1.png" alt="img01">
						<figcaption>
							<h3>斗罗大陆</h3>
							<span>唐家三少</span>
							<a href="http://dribbble.com/shots/1115632-Camera">看一看</a>
						</figcaption>
					</figure>
				</li>
			</ul>
		</div>
		<script src="js/toucheffects.js"></script>
	</body>
</html>