<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <title>serach</title>
    <link rel="stylesheet" href="../static/css/serach.css">
    <link rel="stylesheet" type="text/css" href="../static/css/default.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/component.css"/>
    <script src="../static/js/modernizr.custom.js"></script>
</head>
<body>
<div class="box">

    <div class="banner">
        <input class="serach_text" type="text" placeholder="输入查询的书籍">

        <img class="serach_img" src="../static/img/search.png">

    </div>
    <div class="content">
        <div class="content1">
             <div class="serach_book">
            <div class="container demo-3">
                <!-- Top Navigation -->

                <ul class="grid cs-style-6">
                    <li>
                        <figure>
                            <img src="../static/img/e525dd1b1af2a981cc83cb7b8e9cbc38.jpeg" alt="img01">
                          <figcaption>
							<h3>斗破苍穹</h3>
							<span>天蚕土豆</span>
							<a href="http://dribbble.com/shots/1115632-Camera">阅读</a>
						</figcaption>
                        </figure>
                    </li>
                </ul>
            </div><!-- /container -->
            <script src="../static/js/toucheffects.js"></script>
        </div>

        <div class="serach_book">
            <div class="container demo-3">
                <!-- Top Navigation -->

                <ul class="grid cs-style-6">
                    <li>
                        <figure>
                            <img src="../static/img/e525dd1b1af2a981cc83cb7b8e9cbc38.jpeg" alt="img01">
                               <figcaption>
							<h3>斗破苍穹</h3>
							<span>天蚕土豆</span>
							<a href="http://dribbble.com/shots/1115632-Camera">阅读</a>
						</figcaption>
                        </figure>
                    </li>
                </ul>
            </div><!-- /container -->
            <script src="../static/js/toucheffects.js"></script>

        </div>
        <div class="serach_book">
            <div class="container demo-3">
                <!-- Top Navigation -->

                <ul class="grid cs-style-6">
                    <li>
                        <figure>
                            <img src="../static/img/e525dd1b1af2a981cc83cb7b8e9cbc38.jpeg" alt="img01">
                               <figcaption>
							<h3>斗破苍穹</h3>
							<span>天蚕土豆</span>
							<a href="http://dribbble.com/shots/1115632-Camera">阅读</a>
						</figcaption>
                        </figure>
                    </li>
                </ul>
            </div><!-- /container -->
            <script src="../static/js/toucheffects.js"></script>

        </div>
        <div class="serach_book">
            <div class="container demo-3">
                <!-- Top Navigation -->

                <ul class="grid cs-style-6">
                    <li>
                        <figure>
                            <img src="../static/img/e525dd1b1af2a981cc83cb7b8e9cbc38.jpeg" alt="img01">
                                <figcaption>
							<h3>斗破苍穹</h3>
							<span>天蚕土豆</span>
							<a href="http://dribbble.com/shots/1115632-Camera">阅读</a>
						</figcaption>
                        </figure>
                    </li>
                </ul>
            </div><!-- /container -->
            <script src="../static/js/toucheffects.js"></script>
        </div>
                 <div class="serach_book">
            <div class="container demo-3">
                <!-- Top Navigation -->

                <ul class="grid cs-style-6">
                    <li>
                        <figure>
                            <img src="../static/img/e525dd1b1af2a981cc83cb7b8e9cbc38.jpeg" alt="img01">
                                <figcaption>
							<h3>斗破苍穹</h3>
							<span>天蚕土豆</span>
							<a href="http://dribbble.com/shots/1115632-Camera">阅读</a>
						</figcaption>
                        </figure>
                    </li>
                </ul>
            </div><!-- /container -->
            <script src="../static/js/toucheffects.js"></script>
        </div>
                 <div class="serach_book">
            <div class="container demo-3">
                <!-- Top Navigation -->

                <ul class="grid cs-style-6">
                    <li>
                        <figure>
                            <img src="../static/img/e525dd1b1af2a981cc83cb7b8e9cbc38.jpeg" alt="img01">
                                <figcaption>
							<h3>斗破苍穹</h3>
							<span>天蚕土豆</span>
							<a href="http://dribbble.com/shots/1115632-Camera">阅读</a>
						</figcaption>
                        </figure>
                    </li>
                </ul>
            </div><!-- /container -->
            <script src="../static/js/toucheffects.js"></script>
        </div>
                    <div class="serach_book">
            <div class="container demo-3">
                <!-- Top Navigation -->

                <ul class="grid cs-style-6">
                    <li>
                        <figure>
                            <img src="../static/img/e525dd1b1af2a981cc83cb7b8e9cbc38.jpeg" alt="img01">
                                <figcaption>
							<h3>斗破苍穹</h3>
							<span>天蚕土豆</span>
							<a href="http://dribbble.com/shots/1115632-Camera">阅读</a>
						</figcaption>
                        </figure>
                    </li>
                </ul>
            </div><!-- /container -->
            <script src="../static/js/toucheffects.js"></script>
        </div>
                    <div class="serach_book">
            <div class="container demo-3">
                <!-- Top Navigation -->

                <ul class="grid cs-style-6">
                    <li>
                        <figure>
                            <img src="../static/img/e525dd1b1af2a981cc83cb7b8e9cbc38.jpeg" alt="img01">
                                <figcaption>
							<h3>斗破苍穹</h3>
							<span>天蚕土豆</span>
							<a href="http://dribbble.com/shots/1115632-Camera">阅读</a>
						</figcaption>
                        </figure>
                    </li>
                </ul>
            </div><!-- /container -->
            <script src="../static/js/toucheffects.js"></script>
        </div>
                    <div class="serach_book">
            <div class="container demo-3">
                <!-- Top Navigation -->

                <ul class="grid cs-style-6">
                    <li>
                        <figure>
                            <img src="../static/img/e525dd1b1af2a981cc83cb7b8e9cbc38.jpeg" alt="img01">
                                <figcaption>
							<h3>斗破苍穹</h3>
							<span>天蚕土豆</span>
							<a href="http://dribbble.com/shots/1115632-Camera">阅读</a>
						</figcaption>
                        </figure>
                    </li>
                </ul>
            </div><!-- /container -->
            <script src="../static/js/toucheffects.js"></script>
        </div>
        </div>



    </div>


</div>

</div>


</body>
</html>